body {
    background-color:  rgba(45, 110, 241, 0.256) !important;
}



.bsb-tpl-bg-platinum {
    border-radius: 12px 0 0 12px !important;
    background-color: transparent !important;
    position: relative;
    overflow: hidden;
}

.bsb-tpl-bg-platinum::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../static/img/fundo-img.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
   
    filter: blur(8px);
    z-index: 0; 
}

.bsb-tpl-bg-platinum .d-flex {
    position: relative;
    z-index: 1; 
}


.bsb-tpl-bg-lotion {
    background-color: #FFFFFF !important; 
    border-radius: 0 12px 12px 0;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.title-section {
    color: rgb(181, 146, 95) !important;
}

.form-text {
    color: rgb(45, 111, 241) !important;
}

.btn-primary {
    background-color: rgb(45, 111, 241) !important;
    border-color: rgb(45, 111, 241) !important;
    transition: all 0.3s ease !important; 
}

.btn-primary:hover {
    background-color: #0b37bc !important; /* Azul um pouco mais escuro no hover */
    border-color: #0b37bc !important;
}

@media (max-width: 600px) {
    .bsb-tpl-bg-platinum {
    border-radius: 12px 12px 0 0 !important;
}

.bsb-tpl-bg-lotion {
    border-radius: 0 0 12px 12px;
}
}