*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(45, 111, 241, 0.246);
}
.titulopagina{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.maiortit{
    color:black;
    font-weight: bold;
}
.subtit{
    color: rgba(0, 0, 0, 0.562);
}
.chefmain{
    display: flex;
    align-items: center;
   height: 70vh;
   width: 80%;
   margin-left: 6vh;
}
.ladoalado{
    display: flex;
    background-color: white;
    justify-content: center;
    margin-left: 5%;
    border-radius: 40px;
    transition: 0.9s ease;
}
.ladoalado:hover{
    transform: scale(1.1);
     box-shadow: 0px 4px 10px rgb(160, 159, 159);
}
.fotocard{
  height: 50vh;
  width: 90vh;
  overflow: hidden;
  margin: 20px;
  border: none;
  position: relative;
  border-radius: 30px;
  
}

.mainimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;

}

.fotocard:hover .mainimage{
    transform: scale(1.1);
}
.fotocard{
    cursor:grab;
}

.textoprincipal{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 7vh;

}
.nomecard{
    font-size: 5vh;
    color:rgb(181, 146, 95) !important;
}
.subnomecard{
     color: white;
     background-color: rgba(45, 110, 241);
     border-radius: 10px;
     font-weight: 800;

}
p{
    color: rgb(181, 146, 95);
    flex-wrap: wrap;
    font-weight: 500;
    font-size: large;
    margin-left: 15px;
    margin-right: 15px;
}
.trophyimg{
    height: 20px;
}
.premios{
    display: flex;
    justify-content: space-around;
    gap: 5vh;
    margin-top: 6vh;
}
.trophy{
    background-color: rgba(45, 110, 241);
    color: white;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}
.secao{
    display: flex;
    justify-content:center;
    gap: 2vh;
    margin-bottom: 10%;

}


.cartoes{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 35vh;
    height: 80vh;
    align-items: center;
    transition: 0.5s ease;

}
.cartoes:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgb(160, 159, 159);
}
.imagemcard{
  height: 40vh;
  width: 30vh;
  overflow: hidden;
  margin: 20px;
  border: none;
  position: relative;
  border-radius: 30px;
  margin-top: 10px;

  
}
.chefes{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;

}
.imagemcard:hover .chefes{
    transform: scale(1.1);
}
footer{
    margin-top: 10vh;
}
.subtrophy{
    display: flex;
    gap: 5px;
    width: 25vh;
    background-color: rgb(45, 111, 241);
    color: white;
    font-weight: 500;
    justify-content: center;
    border-radius: 10px;



}
