* {
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.area-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width:80vh;
    box-shadow: 0 10px 20px rgba(0 , 0, 0, 0.2);
    margin-top: 10vh;
    background-color: white;


}
.formular{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}
.acima{
    font-size: 2vh;
    margin-left: 2%;
    color: rgb(181, 146, 95);
}
.nome{
    height: 3vh;
    background-color: rgba(177, 168, 168, 0.199);
    border-radius: 12px;
    border: 0px;
    box-shadow: 1px 2px 3px rgba(211, 207, 207, 0.863);

}
.numero{
    width: 20vh;
    height: 2vh;
    background-color: rgba(177, 168, 168, 0.199);
    border-radius: 12px;
    border: 0px;
    box-shadow: 1px 2px 3px rgba(211, 207, 207, 0.863);

}
select{
    width: 20vh;
    height: 3vh;
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0.151);
}

.area-grande{
    width: 40vh;
    height: 10vh;
    background-color: rgba(177, 168, 168, 0.199);
    border-radius: 12px;
    border: 0px;
    box-shadow: 1px 2px 3px rgb(196, 194, 194);
}
button{
    height: 5vh;
    width: 20vh;
    box-shadow: 1px 2px 3px rgba(211, 207, 207, 0.863);
    margin-left: 10px;
    border-style: none  ;
}
button:hover{
    background-color: rgba(45, 110, 241) ;
    box-shadow: 1px 2px 3px rgba(211, 207, 207, 0.863);
    border-radius: 10px;

}
.area-recentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    width: 80vh;
    height: 60vh;
    background-color: white;
}   
.titulo{
    font-weight: bold;
    color: rgb(45, 111, 241)
}
.boxes{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.cards{
    width: 60vh;
    box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.5);
    border-radius: 12px;
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.esquerdacard{
    color: rgb(181, 146, 95);
    font-size: 15px;

}
.direitacard{
    color: rgb(45, 111, 241);
    background-color: rgba(181, 147, 95, 0.349);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    background-color: rgba(45, 110, 241, 0.256) !important;
}

.azultitulo{
    color: rgb(45, 111, 241);
}
.subtit{
    color: rgba(45, 110, 240, 0.575);
}
.botoes{
    display: flex;
    gap: 3vh;
    
}
p{
    opacity: 60%;
}
.pessoas{
    margin: 0px 7px 8px;
}
