* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.area-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width:70vh;
    box-shadow: 0px 2px 6px rgba(211, 207, 207, 0.863);
    margin-top: 3vh;

}
.formular{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;


}
h1{
    font-size:3vh;

}
.acima{
    font-size: 2vh;
    margin-left: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.nome{
    height: 3vh;
    background-color: rgba(177, 168, 168, 0.199);
    border-radius: 12px;
    border: 0px;
    box-shadow: 1px 2px 3px rgba(211, 207, 207, 0.863);

}
.numero{
    width: 20vh;
    height: 2vh;
    background-color: rgba(177, 168, 168, 0.199);
    border-radius: 12px;
    border: 0px;
    box-shadow: 1px 2px 3px rgba(211, 207, 207, 0.863);

}
select{
    width: 20vh;
    height: 2vh;
    background-color: rgba(177, 168, 168, 0.199);
    border-radius: 12px;
    border: 0px;
    box-shadow: 1px 2px 3px rgba(211, 207, 207, 0.863);
}
.area-grande{
    width: 40vh;
    height: 10vh;
    background-color: rgba(177, 168, 168, 0.199);
    border-radius: 12px;
    border: 0px;
    box-shadow: 1px 2px 3px rgba(211, 207, 207, 0.863);
}
button{
    height: 5vh;
    width: 20vh;
    border-radius: 12px;
    border: none;
    box-shadow: 1px 2px 3px rgba(211, 207, 207, 0.863);
    margin-left: 10px;
}
button:hover{
    background-color: rgba(177, 168, 168, 0.075) ;
}
.area-recentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    width: 70vh;
    height: 50vh;
}   
.titulo{
    font-weight: 800;
    color: rgba(0, 0, 0, 0.671);
}
.boxes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card{
    display: flex;
    justify-content: space-between;
    width: 50vh;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.5);
    border-radius: 12px;
    height: 9vh;

}
.esquerdacard{
    margin-left: 2vh;

}
.direitacard{
    margin-right: 3vh;
    background-color: rgba(44, 44, 44, 0.521);
    width: 9vh;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: white;
    font-weight: 800;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

