body{
    background-color:rgb(45, 111, 241, 0.246);
}

.titpagina{
    margin-top: 7%;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.titpreto{
   opacity: 80%;
}
.titbranco{
    color:rgb(221, 169, 92);
}
.serapacao{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 6vh;
    flex-wrap: wrap;
    margin-bottom: 20vh;

}
.textosobre{
    width: 70vh;
    height: 100%vh;
    font-weight: 450;
    display: flex;
    flex-direction: column;
}
.areaparagrafo{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   width: 70vh;
   height: 35vh;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgb(173, 173, 173);
    transition: 0.5s ease-in-out;

}

.areaparagrafo:hover{
    transform:translateY(-20px)
}
.paragrafo{
    font-size: large;
    margin-left: 15px;
    margin-right: 15px;
}
.areainform{
  background-color: rgb(221, 169, 92);
  margin-top: 3vh;
  border-radius: 30px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 6px rgb(173, 173, 173);
  transition: 0.5s ease;
}
.areainform:hover{
    transform: translateY(-20px);
}
.linha1{
    display: flex;
    justify-content:space-evenly;
    gap: 5px;
    margin-top: 20px;
}
.objeto1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numinform{
    color: rgb(45, 111, 241);
}
.textinform{
    color: white;
}
.areaimgs{
    display: flex;
    flex-wrap: wrap;
}
.imgsmenor{
    display: flex;
    flex-direction: column;
}
.imgsmaior{
    height: 60vh;
    width: 80vh;
}
.menor{
    height: 30vh;
}