<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs</title>
       <!--LINKS PRO NAVBAR-->
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/chefs.css">
    <link rel="stylesheet" href="../css/footer.css">
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <!--INICIO DO NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand" href="home.html">
            <img src="../static/img/logo2.png" alt="peixe" class="logo-img me-1">
        </a>
                
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav1">
            <span class="navbar-toggler-icon"></span>
        </button>
                
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobre.html">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="menu.html">Menu</a>
                </li>
                    <li class="nav-item">
                   <a class="nav-link" href="chefs.html">Chefs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reserva.html">Reserva</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contato.html">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <!--FIM DO NAVBAR-->
<div class="titulopagina">
    <h1 class="maiortit">Chefs</h1>
    <p class="subtit">Eles transformam a arte dos ingredientes no sabor que chega à sua mesa.</p>
</div>
<div class="chefmain">
    <div class="ladoalado">
        <div class="fotocard"><img class="mainimage" src="../static/img/tiagoemilio.png"></div>
        <div class="textoprincipal">
            <h2 class="nomecard">Tiago Emilio</h2>
            <p class="subnomecard">Chefe Executivo</p>
            <p>Tiago Emilio é o Chefe Executivo com uma carreira de 10 anos marcada pela inovação e excelência. Sua visão estratégica é o motor por trás do crescimento consistente da Sabor da Maré.
                Antes de assumir a liderança, ele foi fundamental no desenvolvimento do conhecimento de frutos do mar da empresa. Tiago Emilio é reconhecido por fomentar uma cultura de colaboração e alto desempenho, garantindo que a Sabor da Maré continue a ser referência no setor.
            </p>
            <div class="premios">
                <div class="trophy"><img class="trophyimg" src="../static/img/trophy.png"><h5>The Best Chef Awards 2023</h5></div>
                <div class="trophy"><img class="trophyimg" src="../static/img/trophy.png"><h5>The Best Chef Awards 2025</h5></div>
                <div class="trophy"><img class="trophyimg" src="../static/img/trophy.png"><h5>Melhor Cardápio degustativo da cidade</h5></div>
            </div>
        </div>
    </div>
</div>
<section class="secao">
    <div class="cartoes">
        <div class="imagemcard"><img class="chefes" src="../static/img/michael.png"></div>
        <h2 class="chefestit">Michael Filho</h2>
        <p class="subnomecard">Cozinheiro</p>
        <p>“A dor bem construída, não proveniente de um peso opressivo, mesmo quando segue um curso difícil, não é imposta por palavras duras e não cresce sem medida.”</p>
        <div class="subtrophy"><img class= "trophyimg" src="../static/img/trophy.png">Festival de comidas de rua</div>
    </div>
     <div class="cartoes">
        <div class="imagemcard"><img class="chefes" src="../static/img/caua.png"></div>
        <h2 class="chefestit">Cauã Alves</h2>
        <p class="subnomecard">Sub-chefe</p>
        <p>“Não é o diploma que nos torna grandes, mas os sonhos que não desistimos de perseguir.”</p>
        <div class="subtrophy"><img class= "trophyimg" src="../static/img/trophy.png">Especialista em Frutos do mar</div>
    </div>
     <div class="cartoes">
        <div class="imagemcard"><img class="chefes" src="../static/img/chico.png"></div>
        <h2 class="chefestit">Francisco Bezerra</h2>
        <p class="subnomecard">Chef de Partie</p>
        <p>“Sonhar grande dá o mesmo trabalho que sonhar pequeno.”</p>
        <div class="subtrophy"><img class= "trophyimg" src="../static/img/trophy.png">Cooking Awards 2019</div>
    </div>
     <div class="cartoes">
        <div class="imagemcard"><img class="chefes" src="../static/img/augusto.png"></div>
        <h2 class="chefestit">Augusto Pontes</h2>
        <p class="subnomecard">Auxiliar de Cozinha</p>
        <p>“Comece onde você está, use o que você tem.”</p>
        <div class="subtrophy"><img class= "trophyimg" src="../static/img/trophy.png">5x melhor Colaborador do mês em 2024</div>
    </div>
</section>
<footer class="mt-auto pt-4 pb-4">
    <div class="container">
        <div class="row">
            <!-- Información de la empresa -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Sobre nós</h5>
                <p class="text-lg">Somos um restaurante especializado em frutos do mar, preparado com ingredientes frescos todos os dias. Trabalhamos para oferecer sabor, qualidade e uma experiência única à mesa.</p>
            </div>

            <!-- Enlaces rápidos -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Links Rápidos</h5>
                <ul class="list-unstyled text-lg">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">
                            <i class="bi bi-house text-lg"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sobre.html">
                            <i class="bi bi-info-circle text-lg"></i> Sobre
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contato.html">
                            <i class="bi bi-envelope text-lg"></i> Contato
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="reserva.html">
                            <i class="bi bi-shield-lock text-lg"></i> Reserva
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Información de contacto -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Contato</h5>
                <ul class="list-unstyled text-lg">
                    <li><i class="bi bi-geo-alt-fill"></i> Rua João Grilo e Chicó, 370 - Colinas do Sul, João Pessoa - PB</li>
                    <li><i class="bi bi-telephone-fill"></i>(83) 98621-1544</li>
                    <li><i class="bi bi-envelope-fill"></i> restaurantemare@gmail.com.br</li>
                </ul>
            </div>

            <!-- Redes Sociales -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Siga também</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="" class="text-lg"><i class="bi bi-instagram fs-4"></i></a></li>
                    <li class="list-inline-item"><a href="" class="text-lg"><i class="bi bi-linkedin fs-4"></i></a></li>
                </ul>
            </div>
        </div>

        <hr class="barra">
        

        <!-- Derechos de autor -->
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; 2025 Sabor da Maré. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>
<!--FINAL DO FOOTER-->
</body>
</html>