<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/menu.css">

    <!--LINKS PRO FOOTER-->
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">

</head>
<body>
    
    <!--INICIO DO NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand" href="home.html">
            <img src="../static/img/logo2.png" alt="peixe" class="logo-img me-1">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav1">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="menu.html">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="chefs.html">Chefs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reserva.html">Reserva</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contato.html">Contato</a>
                </li>
              
            </ul>
        </div>
    </div>
    </nav>
    <!--FIM DO NAVBAR-->

<section class="container py-5 my-5" id="products">

    <div class="container text-center">

        <!-- TÍTULO -->
        <div class="menu-title-wrapper">
            <h2 class="menu-title">───  Menu  ───</h2>
        </div>

        <!-- SUBTÍTULO -->
        <p class="menu-subtitle">
            Pratos frescos e típicos da beira-mar, preparados para combinar com o clima de verão.
        </p>
    </div>

    <div class="d-flex justify-content-center mb-4">
        <ul class="nav nav-pills" id="productTabs">
    <li class="nav-item">
        <button class="nav-link active filter-btn" data-filter="all">Todos</button>
    </li>
    <li class="nav-item">
        <button class="nav-link filter-btn" data-filter="entradas">Entradas</button>
    </li>
    <li class="nav-item">
        <button class="nav-link filter-btn" data-filter="principais">Pratos Principais</button>
    </li>
    <li class="nav-item">
        <button class="nav-link filter-btn" data-filter="dia">Pratos do Dia</button>
    </li>
    <li class="nav-item">
        <button class="nav-link filter-btn" data-filter="bebidas">Bebidas</button>
    </li>
</ul>

    </div>

    <div class="cards-cardapios menu-grid">
    <div class="menu-item-card" data-category="principais">
        <div class="item-image">
            <img src="../static/img/princ1.png" alt="Camarões ao Alho: O Toque Clássico da Casa">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Camarões ao Alho: O Toque Clássico da Casa</h3>
                <span class="price">R$ 19,99</span>
            </div>
            <p class="description">Um dos nossos best-sellers! O camarão fresco do dia com a nossa manteiga de alho e ervas.
            </p>
        </div>
    </div>
    <div class="menu-item-card" data-category="principais">
        <div class="item-image">
            <img src="../static/img/princ2.jpg" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Pesca do Dia: Frescor e leveza do peixe grelhado</h3>
                <span class="price">R$ 29,99</span>
            </div>
            <p class="description">Apostamos na sustentabilidade e no frescor!, Peixe frito feito na hora, no foco do sabor suave logo pela manhã.</p>
        </div>
    </div>
    <div class="menu-item-card" data-category="principais">
        <div class="item-image">
            <img src="../static/img/princ3.jpg" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Anéis de Lula Crocantes: Petisco Perfeito</h3>
                <span class="price">R$ 29,99</span>
            </div>
            <p class="description">Crocrância por fora, maciez por dentro. Nossa lula empanada é o petisco ideal para acompanhar aquela cerveja gelada na beira da piscina.</p>
           
        </div>
    </div>
    <div class="menu-item-card" data-category="principais">
        <div class="item-image">
            <img src="../static/img/peixefrito.jpg" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Peixe Frito com Arroz e Salada</h3>
                <span class="price">R$ 55,00</span>
                <span class="tag"></span>
            </div>
            <p class="description">Peixe crocante servido com acompanhamentos leves. Um clássico das barracas de praia.</p>
            
        </div>
    </div>
    <div class="menu-item-card" data-category="dia">
        <div class="item-image">
            <img src="../static/img/moqueca-de-peixe(pratos do dia).jpg" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Moqueca de Peixe</h3>
                <span class="price">R$ 48,00</span>
                <span class="tag"></span>
            </div>
            <p class="description">Molho encorpado com leite de coco e temperos frescos. Servida bem quente e aromática..</p>
          
        </div>
    </div>
    <div class="menu-item-card" data-category="dia">
        <div class="item-image">
            <img src="../static/img/receita-bobo-de-camarao(entrada).jpg" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Bobó de Camarão</h3>
                <span class="price">R$ 52,00</span>
                <span class="tag"></span>
            </div>
            <p class="description">Cremoso e saboroso, feito com mandioca. Prato típico e muito pedido no litoral.</p>
         
        </div>
    </div>
    <div class="menu-item-card" data-category="bebidas">
        <div class="item-image">
            <img src="../static/img/coco-gelado (bebidas).jpg" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Coco Gelado</h3>
                <span class="price">R$ 18,00</span>
                <span class="tag"></span>
            </div>
            <p class="description">Refrescante e natural. Perfeito para hidratar no calor. </p>
           
        </div>
    </div>
    <div class="menu-item-card" data-category="bebidas">
        <div class="item-image">
            <img src="../static/img/caipirinha-limao(bebidas).jpg" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Caipirinha de limão</h3>
                <span class="price">R$ 18,00</span>
                <span class="tag"></span>
            </div>
            <p class="description">Bebida cítrica e gelada. Combina perfeitamente com clima de praia.</p>
            
        </div>
    </div>
    <div class="menu-item-card" data-category="bebidas">
        <div class="item-image">
            <img src="../static/img/suco-abacaxi-hortelã(bebidas).jpg" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Suco de Abacaxi com Hortelã</h3>
                <span class="price">R$ 15,00</span>
                <span class="tag"></span>
            </div>
            <p class="description">Gelado e perfumado. Refresca e mata a sede na hora.</p>
           
        </div>
    </div>
    <div class="menu-item-card" data-category="entradas">
        <div class="item-image">
            <img src="../static/img/batata-frita(entrada).webp" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Batata Frita</h3>
                <span class="price">R$ 15,00</span>
                <span class="tag"></span>
            </div>
            <p class="description">Batatas crocanates na boca com tempero e acompanhamentos.</p>
         
        </div>
    </div>
    <div class="menu-item-card" data-category="entradas">
        <div class="item-image">
            <img src="../static/img/camarao-frito(entrada).webp" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>Camarão Frito</h3>
                <span class="price">R$ 38,00</span>
                <span class="tag"></span>
            </div>
            <p class="description">Crocante e bem temperado. Ótimo para petiscar na beira da praia.</p>
       
        </div>
    </div>
    <div class="menu-item-card" data-category="entradas">
        <div class="item-image">
            <img src="../static/img/queijo-qualho(entrada).jpg" alt="Nome do Prato 2">
        </div>
        <div class="item-details">
            <div class="item-header">
                <h3>queijo Qualho Assado</h3>
                <span class="price">R$ 12,00</span>
                <span class="tag"></span>
            </div>
            <p class="description">Servido no espeto, bem dourado. Simples e clássico no litoral.</p>
          
        </div>
    </div>


    </div>

</section>
    

<!--INICIO DO FOOTER-->
<footer class="mt-auto pt-4 pb-4">
    <div class="container">
        <div class="row">
            <!-- Información de la empresa -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Sobre nós</h5>
                <p class="text-lg">Somos um restaurante especializado em frutos do mar, preparado com ingredientes frescos todos os dias. Trabalhamos para oferecer sabor, qualidade e uma experiência única à mesa.</p>
            </div>

            <!-- Enlaces rápidos -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Links Rápidos</h5>
                <ul class="list-unstyled text-lg">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">
                            <i class="bi bi-house text-lg"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sobre.html">
                            <i class="bi bi-info-circle text-lg"></i> Sobre
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contato.html">
                            <i class="bi bi-envelope text-lg"></i> Contato
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="reserva.html">
                            <i class="bi bi-shield-lock text-lg"></i> Reserva
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Información de contacto -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Contato</h5>
                <ul class="list-unstyled text-lg">
                    <li><i class="bi bi-geo-alt-fill"></i> Rua João Grilo e Chicó, 370 - Colinas do Sul, João Pessoa - PB</li>
                    <li><i class="bi bi-telephone-fill"></i>(83) 98621-1544</li>
                    <li><i class="bi bi-envelope-fill"></i> restaurantemare@gmail.com.br</li>
                </ul>
            </div>

            <!-- Redes Sociales -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Siga também</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="" class="text-lg"><i class="bi bi-instagram fs-4"></i></a></li>
                    <li class="list-inline-item"><a href="" class="text-lg"><i class="bi bi-linkedin fs-4"></i></a></li>
                </ul>
            </div>
        </div>

        <hr class="barra">
        

        <!-- Derechos de autor -->
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; 2025 Sabor da Maré. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>
<!--FINAL DO FOOTER-->

<!--CÓDIGO PRO NAVBAR-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>  
<script>
    const buttons = document.querySelectorAll(".filter-btn");
    const items = document.querySelectorAll(".menu-item-card");

    buttons.forEach(btn => {
        btn.addEventListener("click", () => {

            // marca botão ativo
            buttons.forEach(b => b.classList.remove("active"));
            btn.classList.add("active");

            const filter = btn.dataset.filter;

            items.forEach(item => {
                const category = item.dataset.category;

                if (filter === "all" || category === filter) {
                    item.style.display = "flex";
                } else {
                    item.style.display = "none";
                }
            });
        });
    });
</script>  
</body>
</html>