<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="../css/reserva.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/logins/login-3/assets/css/login-3.css">
</head>
<body>
    <!--INICIO DO NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand" href="home.html">
            <img src="../static/img/logo2.png" alt="peixe" class="logo-img me-1">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav1">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="menu.html">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="chefs.html">Chefs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reserva.html">Reserva</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contato.html">Contato</a>
                </li>
              
            </ul>
        </div>
    </div>
    </nav>
    <!--FIM DO NAVBAR-->





    <div class="area-forms">
    <form class="formular">
        <h1 class="azultitulo">Faça sua reserva:</h1>
        <p class="subtit">Preencha os dados:</p>
        <label class="acima">Nome</label>
        <input type="text" class="form-control" placeholder="Seu nome">
        <label class="acima">Número telefone/celular</label>
        <input type="number" class="form-control" placeholder="(xx)x xxxx-xxxx">
        <label class="acima">Pessoas</label>
        <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
        </select>
        <label class="acima">Alguma observação necessária(opcional)</label>
        <input type="text" class="form-control" placeholder="Digite Aqui"><br>
        <div class="botoes">
        <button type="submit">Cancelar</button>
        <button type="submit">Enviar</button>
        </div>
    </form>
</div>
<div class="area-recentes">
    <div class="titulo">
        <h1>Reservas Recentes</h1>
    </div>
    <div class="boxes">
        <div class="cards">
            <div class="esquerdacard">
                <h1>Cauã Alves</h1>
                <p>21/11/24 18:30</p>
            </div>
            <div class="direitacard">
                <p class="pessoas">3 pessoas</p>
            </div>
        </div>
         <div class="cards">
            <div class="esquerdacard">
                <h1>Michael neto</h1>
                <p>21/11/24 19:00</p>
            </div>
            <div class="direitacard">
                <p class="pessoas">2 pessoas</p>
            </div>
        </div>
         <div class="cards">
            <div class="esquerdacard">
                <h1>Francisco Bufalo</h1>
                <p>21/11/24 20:00</p>
            </div>
            <div class="direitacard">
                <p class="pessoas">7 pessoas</p>
            </div>
        </div>
    </div>
</div>

<!--CÓDIGO PRO NAVBAR-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>

